.mat-icon {
  color: rgba(0, 0, 0, 0.54);
}

.no-videos {
  margin-top: 20px;
  text-align: center;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; 
}

.video-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

