<div class="dummy-header"></div>

<mat-toolbar color="primary">
    <span class="logo">PupTube</span>
    <mat-form-field class="search-field">
      <mat-icon matPrefix>search</mat-icon>
      <input matInput placeholder="Search for dog videos" [(ngModel)]="query" (keydown.enter)="searchVideos()">
    </mat-form-field>
  </mat-toolbar>


<div class="container">
  <div class="content">
    <div *ngIf="loading" class="loading">Loading...</div>
    <div *ngIf="!loading && videos.length === 0" class="no-videos">No videos found.</div>
    <div *ngIf="videos.length > 0" class="video-list">
      <div *ngFor="let video of videos">
        <app-video-container [video]="video"></app-video-container>
      </div>
    </div>
  </div>
</div>