<div>
    <h2>Home</h2>
    <input type="text" placeholder="Search Videos">
    <div class="video-list">


      <div class="video-item">
        <h3 class="title-placeholder">Video Title</h3>
        <div class="thumbnail-placeholder">
          <iframe width="320" height="180" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen></iframe>
        </div>
        <p class="description-placeholder">Description for Video</p>
      </div>


      <div class="video-item">
        <h3 class="title-placeholder">Video Title</h3>
        <div class="thumbnail-placeholder">
          <iframe width="320" height="180" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen></iframe>
        </div>
        <p class="description-placeholder">Description for Video</p>
      </div>

      <div class="video-item">
        <h3 class="title-placeholder">Video Title</h3>
        <div class="thumbnail-placeholder">
          <iframe width="320" height="180" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen></iframe>
        </div>
        <p class="description-placeholder">Description for Video</p>
      </div>

      <div class="video-item">
        <h3 class="title-placeholder">Video Title</h3>
        <div class="thumbnail-placeholder">
          <iframe width="320" height="180" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen></iframe>
        </div>
        <p class="description-placeholder">Description for Video</p>
      </div>

      <div class="video-item">
        <h3 class="title-placeholder">Video Title</h3>
        <div class="thumbnail-placeholder">
          <iframe width="320" height="180" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen></iframe>
        </div>
        <p class="description-placeholder">Description for Video</p>
      </div>

      <div class="video-item">
        <h3 class="title-placeholder">Video Title</h3>
        <div class="thumbnail-placeholder">
          <iframe width="320" height="180" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen></iframe>
        </div>
        <p class="description-placeholder">Description for Video</p>
      </div>

      <div class="video-item">
        <h3 class="title-placeholder">Video Title</h3>
        <div class="thumbnail-placeholder">
          <iframe width="320" height="180" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen></iframe>
        </div>
        <p class="description-placeholder">Description for Video</p>
      </div>

      <div class="video-item">
        <h3 class="title-placeholder">Video Title</h3>
        <div class="thumbnail-placeholder">
          <iframe width="320" height="180" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen></iframe>
        </div>
        <p class="description-placeholder">Description for Video</p>
      </div>

      <div class="video-item">
        <h3 class="title-placeholder">Video Title</h3>
        <div class="thumbnail-placeholder">
          <iframe width="320" height="180" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen></iframe>
        </div>
        <p class="description-placeholder">Description for Video</p>
      </div>

      <div class="video-item">
        <h3 class="title-placeholder">Video Title</h3>
        <div class="thumbnail-placeholder">
          <iframe width="320" height="180" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen></iframe>
        </div>
        <p class="description-placeholder">Description for Video</p>
      </div>


    
    </div>
    <div>Loading...</div>
  </div>
  