<div *ngIf="video" class="video-container">
    <h1>{{ video?.snippet?.title }}</h1>
  <div class="video-wrapper">
    <iframe width="800" height="450" [src]="videoUrl" frameborder="0" allowfullscreen></iframe>
  </div>
  
  <p class="channel-name">Channel: {{ video?.snippet?.channelTitle }}</p>

  <mat-slide-toggle [(ngModel)]="showDescription">Toggle Description</mat-slide-toggle>

  <div class="description" *ngIf="showDescription">
    <p *ngFor="let paragraph of descriptionParagraphs">{{ paragraph }}</p>
  </div>


<div *ngIf="!video" class="loading-container">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
