.video-card {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    background-color: white; 
    margin: 10px; 
    width: 300px;
    overflow: auto;
    border-radius: 5px;
  }
  
  mat-card-content {
    padding: 10px;
  }
  
  h3 {
    margin: 0;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.2em;
    min-height: 2.4em;
    max-height: 2.4em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }
  
  p {
    margin-top: 8px;
    font-size: 12px;
    color: #666;
    line-height: 1.4;
    min-height: 2em; 
    max-height: 2em; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
  }

  