/* You can add global styles to this file, and also import other style files */


.mdc-text-field {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

body {
    margin: 0;
    padding: 0;
}